<h1><a href="{{ "/" | absolute_url }}">{{ site.author.name }}</a></h1>
<img src="{{site.logo | relative_url}}" alt="Logo" width="70%" height="70%" /><br>
<!-- <a href="/content/mariana.html">mariana</a><br> -->
<!-- <a href="/content/first_post.html">first post</a><br> -->
<!-- <a href="/content/notes.html">notes</a><br>
<a href="/content/chat_box.html">chat</a><br> -->

Machine Learning Projects:<br>
- <a href="/content/ai_projects/cs224r_proj.html">Reinforcement learning for robotic arm</a><br>
- <a href="/content/ai_projects/cs224u_proj.html">LLM Prompt-tuning</a><br>
- <a href="/content/ai_projects/cs229_proj.html">CNN plays GeoGuessr</a><br>
- <a href="/content/ai_projects/cs237a_proj.html">Autonomous Wheeled robot</a><br>
- <a href="/content/ai_projects/cs168_proj.html">Vector Similarity Search</a><br>
