<!doctype html>
<html lang="en">
<head>
    {% include google_analytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">    
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    
    <div class="wrapper">
        <header> {% include abcheader.html %} </header>
        <section>
            {{ content }}
        </section>
    </div>

    <!-- iphone zoom robustness -->
    <!-- <script src="/assets/js/scale.fix.js"></script> -->
    {% include scale_fix_js.html %}
</body>
</html>