<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">    
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">

</head>
<body>
    <div class="notes-wrapper">
        <header> {% include abcheader.html %} 
            <br><br><br>
            <a style="font-size: 40px;" href="/content/notes.html">&lt;-- notes</a><br>
        </header>
        <section class="notes-layout">
            {{ content }}
        </section>
    </div>

    <!-- iphone zoom robustness -->
    <script src="/assets/js/scale.fix.js"></script>
    <script src="/assets/js/get_analytics.js"></script>
</body>
</html>